body {
  padding-top: 1rem;
}

.channel-card {
  max-width: 500px;
  margin-bottom: 1rem;
}

.channel-volumecontrol {
  width: 100px;
  vertical-align:middle;
}
.channel-volumecontrol-label {
  vertical-align: middle;
}

.channel-start {
  min-width: 120px;
}

.participant-indicator {
  width: 8rem;
}

.handset-card {
  max-width: 500px;
  margin-bottom: 1rem;
}